<div class="jumbotron">
    <div class="container">
        <h1>Contact</h1>
        <p>Thomas Hagner is the Founder at Mangrove. Please feel free to contact me at thagner@gmail.com or 516-320-5267 </p>
    </div>
</div>