// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-fluid {
    background-image: url(image_path('mangrove-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}